<div class="td-content">
	<h1>{{ .Title }}</h1>
	{{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
	{{ .Content }}
	<p></p>
	<h2>Attributes for <b>{{ .Title }}</b> features</h2>
	<ul>
		{{ range $i, $page := (where $.Site.RegularPages "Type" "attrs") }}
			{{ if in $page.Params.flags $.Title }}
			<li>
				<a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
				&ndash;
				{{ with .Params.description }}{{ . | markdownify }}.{{ end }}
				Valid on:<span> </span>
				{{- if in .Params.used_by "C" }}Clusters<span> </span>{{ end -}}
				{{- if in .Params.used_by "E" }}Edges<span> </span>{{ end -}}
				{{- if in .Params.used_by "G" }}Graphs<span> </span>{{ end -}}
				{{- if in .Params.used_by "N" }}Nodes<span> </span>{{ end -}}
				{{- if in .Params.used_by "S" }}Subgraphs<span> </span>{{ end -}}
			</li>
			{{ end }}
		{{ end }}
	</ul>
	For complete list of attributes please see page <a href="/doc/info/attrs.html">Attributes</a>.
	{{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
		{{ partial "feedback.html" .Site.Params.ui.feedback }}
		<br />
	{{ end }}
	{{ if (.Site.Params.DisqusShortname) }}
		<br />
		{{ partial "disqus-comment.html" . }}
	{{ end }}
	{{ partial "page-meta-lastmod.html" . }}
</div>
