{{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
<P>
type: <I>{{ range $i, $t := .Params.types -}}
{{- if $i }} | {{ end -}}
<A HREF="/docs/attr-types/{{$t}}/">{{$t}}</A>
{{- end -}}
{{- range $i, $d := .Params.defaults }}
  {{- if eq $i 0 }}, default: {{ end }}
  {{- if $i }}, {{ end -}}
  {{- if reflect.IsMap $d -}}
  <code>{{ $d.default }}</code> {{$d.for}} {{$d.suffix}}
  {{- else -}}
  <code>{{ $d }}</code>
  {{- end -}}
{{- end -}}
{{- range $i, $minimum := .Params.minimums -}}
  {{- if eq $i 0 }}, minimum: {{ end }}
  {{- if $i }}, {{ end -}}
  <code>{{- $minimum -}}</code>
{{- end -}}
</I>
</P>

{{ .Content }}

<I>Valid on:</I>
<UL>
{{- if in .Params.used_by "C" }}<LI>Clusters</LI>{{ end -}}
{{- if in .Params.used_by "E" }}<LI>Edges</LI>{{ end -}}
{{- if in .Params.used_by "G" }}<LI>Graphs</LI>{{ end -}}
{{- if in .Params.used_by "N" }}<LI>Nodes</LI>{{ end -}}
{{- if in .Params.used_by "S" }}<LI>Subgraphs</LI>{{ end -}}
</UL>
<I>
{{- if .Params.flags -}}
  Note:
  {{ if eq (index .Params.flags 0) "notdot" }}
    not dot
  {{ else }}
    {{ range $i, $flag := .Params.flags -}}
      {{- if $i }}, {{ end -}}
      {{ $flag }}
    {{- end }} only
  {{ end }}
{{- end -}}
</I>
